/* global */
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;

  background-color: black;
  color: var(--yellow);

  font-family: 'nestregular';
  font-size: var(--fontSizeM);
  line-height: 1.3;
  letter-spacing: 0.35px;
}

* {
  /* border: 1px solid black; */
  box-sizing: border-box;
  transition: opacity var(--transitionSpeedOpacity) ease,
    visibility 0s ease var(--transitionSpeedOpacity);
}

/* font */
@font-face {
  font-family: 'nestregular';
  src: url('../assets/font/Nest-Regular.woff2') format('woff2'),
    url('../assets/font/Nest-Regular.woff') format('woff'),
    url('../assets/font/Nest-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
/* hidden */
.invisible {
  opacity: 0 !important;
}

.notDisplayed {
  display: none;
}

/* clickable */
.clickable {
  cursor: pointer;
  transition: none;
}

@media screen and (hover: hover) {
  .clickable:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
