/* images */
#imageContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  object-fit: cover;
  position: absolute;
}

.image {
  position: absolute;
  top: 0;
  width: 200%;
  height: 200%;
  background-size: cover;
  background-position: var(--backgroundX) var(--backgroundY);
  background-repeat: no-repeat;
}

/* intro */
#splashImg {
  background-image: url(../assets/img/image0.jpg);
}

/* track-images */
#image0 {
  background-image: url(../assets/img/image1.jpg);
}
#image1 {
  background-image: url(../assets/img/image2.jpg);
}
#image2 {
  background-image: url(../assets/img/image3.jpg);
}
#image3 {
  background-image: url(../assets/img/image4.jpg);
}
#image4 {
  background-image: url(../assets/img/image4.jpg);
}
